body{
    background-color: rgb(252, 239, 239);
    display: flex;
    justify-content: center;
}
.complete{
    display: flex;
    flex-direction: column;
    width: 355px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    height: 1500px;
    padding: 15px 15px 15px 15px;
}
.picture-div{
    display: flex;
    justify-content: center;
    
}
.img{
    width: 360px;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}
.heading{
    font-size: 22px;
    font-family: Young Serif;
    
}
p{
    font-size: 9px;
    font-family: Outfit;
}
.prep-time-div{
    background-color: rgb(239, 231, 237);
    border-radius: 5px;
}
.prep-heading{
    font-size: 15px;
    padding: 10px 0 10px 10px;
}