body{
    display: flex;
    justify-content: center;
    color: hsl(30, 10%, 34%);
    background-color: hsl(30, 54%, 90%);
}
.recipe{
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    height: 1050px;
    padding: 20px;
}
.header{
   margin: 0 10px 0 10px;
}
.picture-div{
    display: flex;
    justify-content: center;
    
}
.img{
    width: 390px;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}
.heading{
    font-size: 24px;
    font-family: Young Serif;
    color: black;
}
p, .calories{
    font-size: 10px;
    font-family: Outfit;
}
.prep-time-div{
    background-color: 
    hsl(327, 100%, 98%);
    border-radius: 5px;
    margin:15px 0 15px 0px;
    padding: 5px 0 5px 5px;
    height: 120px;
}
.prep-heading{
    font-size: 15px;
    margin: 15px 0 0 15px;
    color: hsl(332, 51%, 32%);
    font-weight: 600;;
}
.prep-points{
    margin:5px 0 0 0px;
}
.dot{
    margin:0 20px 0 20px;
    font-weight: bold;
}
.bold-point{
    font-weight: bold;
}
.ingredients-heading, .instructions-heading, .nutrition-heading{
    font-size: 20px;
    font-weight: 500;
    font-family: Young Serif;
    margin: 20px 0 15px 0;
    color: hsl(14, 45%, 36%);
}
.dot-ingredient{
    margin:0 15px 0 8px;
    font-weight: bold;
}

.instructions-points, .table-description{
    font-size: 9px;
    font-family: Outfit;
}
.num{
    margin: 0 15px 0 10px;
    font-weight: bold;
    color: hsl(14, 45%, 36%);
}
.eggs{
    display: flex;
    flex-direction: row;
    margin: 5px 0 5px 0;
    line-height: 13px;
}
.nutrition-div{
}

.calories{
    display: flex;
    margin: 10px 0 0 20px;
}
.name{
    flex: 1;
}
.measurement{
    flex: 1;
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}
.line {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
  width: 370px;
}
.instructions-div, .ingredients-div{
    margin-bottom: 25px;
}
@media screen and (max-width: 375px) {
  body{
    background-color: transparent;
    padding: 0;
  }
  .recipe {
    width: 100%;
    border-radius: 0; 
  }
}
